.body-section{
    background-color: red;
}
.navbar {
    display: flex;
    background-color: black;
}

.btn-multicolor {
    background: linear-gradient(to right, #ff00ff, #00ff00);
    border: 5px solid #00ff00;
    
    color: #fb0505;
    transition: 0.3s, color 0.3s;
}

.btn-multicolor:hover {
    background: linear-gradient(to right, #00ff00, #ff00ff);
    color: #000000;
    border-color: #ff00ff;
}

.navbar {
    font-family: fantasy;
    font-size: larger;
}


/* --------------------------------------------------------- hero-section -------------------------------------------------------- */
.hero{
    height: max-content;
    width: 100%;
}
.image{
    display: flex;
    justify-content: center;
}
.image img{
    border-radius: 25px;
    height: max-content;
    width: 70%;
}
.main-text{
    font-size: 18px;
    font-weight: 700;
    display: flex;
    text-align: left;
    justify-content: center;
}

/* --------------------------------------------------- footer ---------------------------------------------------------  */


footer {
    display: flex;
    justify-content: center;
    height: 30vh;
    width: 100%;
    background-color: black;
    text-justify: auto;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
    margin:0 25px;
    
}

footer .lower-footer {
    bottom: 0;
    color: white;
    text-align: center;
}
